<h1 mat-dialog-title>Новый сотрудник</h1>

<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Фамилия</mat-label>
    <input matInput [(ngModel)]="person.surname" [formControl]="surname" >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Имя</mat-label>
    <input matInput [(ngModel)]="person.name" [formControl]="name"  >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Должность</mat-label>
    <mat-select [(ngModel)]="person.position" [formControl]="position" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let position of positions" [value]="position">
        {{position.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Оклад</mat-label>
    <input matInput type="number" [(ngModel)]="person.salary" [formControl]="salary" >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Нанят</mat-label>
    <input matInput [matDatepicker]="picker"  [formControl]="hiringDate" [(ngModel)]="person.hiringDate" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Уволен</mat-label>
    <input matInput [matDatepicker]="picker1"  [formControl]="fireDate" [(ngModel)]="person.fireDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Закрыть</button>
  <button mat-flat-button color="primary" (click) = "createPerson()">Добавить</button>
</div>
