<section class="list">
  <div class="menu">
    <button mat-raised-button color="primary" (click)="openAddPersonDialog()">Добавить сотрудника</button>
    <button mat-raised-button color="primary" (click)="openAddPositionDialog()">Добавить должность</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let person"> {{person.id}} </td>
    </ng-container>

    <!-- position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Должность </th>
      <td mat-cell *matCellDef="let person"> {{person.position.name}} </td>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Сотрудник </th>
      <td mat-cell *matCellDef="let person"> {{person.name}} {{person.surname}}</td>
    </ng-container>

    <!-- salary Column -->
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef> Оклад </th>
      <td mat-cell *matCellDef="let person"> {{person.salary}}$ </td>
    </ng-container>

    <!-- heringDate Column -->
    <ng-container matColumnDef="heringDate">
      <th mat-header-cell *matHeaderCellDef> Дата насзначения </th>
      <td mat-cell *matCellDef="let person"> {{person.hiringDate | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- fireDate Column -->
    <ng-container matColumnDef="fireDate">
      <th mat-header-cell *matHeaderCellDef> Дата увольнения </th>
      <td mat-cell *matCellDef="let person"> {{person.fireDate | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
