<h1 mat-dialog-title>Новая должность</h1>

<div mat-dialog-content>  
  <mat-form-field appearance="outline">
    <mat-label>Должность</mat-label>
    <input matInput [(ngModel)]="position.name" [formControl]="name" >
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close >Закрыть</button>
  <button mat-flat-button color="primary" (click) = "createPosition()">Добавить</button>
</div>
